*{ 
box-sizing: border-box;
margin: 0;
padding: 0;
color: white;
background: #262626;
}

header {
display: flex;
align-items: center;
justify-content: space-between;
height: 80px;
padding: 0 20px;
  }
.logo{
 position: absolute;
width: 159px;
height: 72px;
left: 59px;
top: 27px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 72px;
color: #FFFFFF;
}
.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 4px 8px;
}
  
.search-bar input[type="text"] {
    flex: 1;
    border: none;
    margin-right: 8px;
  }
  
.search-bar button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
}
  
.buttons {
    display: flex;
    align-items: center;
}
  
.buttons button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin-left: 8px;
    cursor: pointer;
}
  
.about-us{
box-sizing: border-box;
position: absolute;
width: 1323px;
height: 588px;
left: 59px;
top: 137px;
background: #262626;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
}
  
.reactangle1{
box-sizing: border-box;
position: absolute;
width: 1323px;
height: 588px;
left: 59px;
top: 137px;
background: #262626;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 50px;
}

#login{
position: absolute;
width: 134px;
height: 53px;
left: 958px;
top: 33px;
background: #262626;
border-radius: 15px;
}

#c1{
position: absolute;
width: 846px;
height: 53px;
left: 224px;
top: 293px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
color: #C4C4C4;
}
#c2{
position: absolute;
width: 846px;
height: 53px;
left: 224px;
top: 400px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px; 
color: #C4C4C4;
}
.img1{
position: absolute;
width: 105px;
height: 105px;
left: 93px;
top: 293px;
background: #FECB03;
border-radius: 100px;
}
.img2{
position: absolute;
width: 105px;
height: 105px;
left: 93px;
top: 427px; 
background: #FECB03;
border-radius: 100px;
}
.img3{
position: absolute;
width: 105px;
height: 105px;
left: 93px;
top: 561px;  
background: #FECB03;
border-radius: 100px;
}
#im1{
    height: 20px;
    width: 20px;
    margin-left: 16px;
    margin-top: 12px;
    background-color: #FECB03;
}
#im2{
    height: 20px;
    width: 20px;
    margin-left: 16px;
    margin-top: 12px;
    background-color: #FECB03;
}
#im3{
    height: 20px;
    width: 20px;
    margin-left: 16px;
    margin-top: 12px;
    background-color: #FECB03;
}

#clock{
    position: absolute;
    width: 209px;
    height: 209px;
    left: 800px;
    top: 80px;
    background: #FECB03;
    border-radius: 1000px;
}
li{
    list-style-type: none;
}
/* #im1,#im2,#im3{
position: absolute;
left: 0%;
right: 0%;
top: 0%;
bottom: 0%; 
background: #262626;
} */

#c3{
position: absolute;
width: 846px;
height: 53px;
left: 224px;
top: 500px; 
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
color: #C4C4C4;
}
#know-more{
position: absolute;
width: 260px;
height: 107px;
left: 800px;
top: 450px;
background: #FECB03;
border-radius: 50px;
}
.search-bar{
position: absolute;
width: 597px;
height: 53px;
left: 319px;
top: 33px;
background: #262626;
border-radius: 15px;
}
#explore{
position: absolute;
width: 131px;
height: 53px;
left: 1125px;
top: 33px;
background: #262626;
border-radius: 15px;
}
#rent{
position: absolute;
width: 112px;
height: 53px;
left: 1280px;
top: 33px;
background: #262626;
border-radius: 15px;
}
h2{
position: absolute;
width: 453px;
height: 76px;
left: 105px;
top: 813px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 68px;
color: #FFFFFF;
}

#about-heading{
position: absolute;
width: 335px;
height: 53px;
left: 105px;
top: 178px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 48px;
line-height: 72px;
color: #FFFFFF;
}
.but {
position: absolute;
width: 169.44px;
height: 58px;
background: #FECB03;
border-radius: 50px;
margin-left: 10pc;
 }
.card1{
box-sizing: border-box;
border-color: white;
position: absolute;
width: 346px;
height: 391px;
left: 119px;
top: 965px;
color: white;
border: 1px solid #11101054;
border-radius: 20px

}
.card2{
box-sizing: border-box;
position: absolute;
width: 346.44px;
height: 391px;
left: 532.36px;
top: 965px;
border: 1px solid #11101054;
border-radius: 20px;
}
.card3{
box-sizing: border-box;
position: absolute;
width: 346.44px;
height: 391px;
left: 943.56px;
top: 965px;
border: 1px solid #11101054;
border-radius: 20px;
}
.card4{
box-sizing: border-box;
position: absolute;
width: 346.44px;
height: 391px;
left: 126.55px;
top: 1418px;
border: 1px solid #11101054;
border-radius: 20px;
}
.card5{
box-sizing: border-box;
position: absolute;
width: 346.44px;
height: 391px;
left: 532px;
top: 1418px;
border: 1px solid #11101054;
border-radius: 20px;
}
.card6{
box-sizing: border-box;
position: absolute;
width: 346.44px;
height: 391px;
left: 944px;
top: 1418px;
border: 1px solid #11101054;
border-radius: 20px;
}
footer{
position: absolute;
width: 1346px;
height: 283px;
left: 33px;
top: 1885px;
background: #262626;
border-radius: 30px;
}
.maps{
position: absolute;
width: 513px;
height: 183px;
left: 701px;
top: 65px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 35px;
color: rgba(255, 255, 255, 0.8);
}
#site-map{
position: absolute;
width: 335px;
height: 53px;
left: 680px;
top: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
color: #FFFFFF;
}

.social-links{
position: absolute;
width: 513px;
height: 183px;
left: 1063px;
top: 65px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 35px;
color: rgba(255, 255, 255, 0.8);
}
#info{
position: absolute;
width: 513px;
height: 183px;
left: 76px;
top: 65px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: rgba(255, 255, 255, 0.8)
}
.forent{
position: absolute;
width: 335px;
height: 53px;
left: 76px;
top: 0px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 72px;
color: #FFFFFF;
}
#s1{
position: absolute;
width: 335px;
height: 53px;
left: 1059px;
top: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
color: #FFFFFF;
}
.cat1{
position: absolute;
width: 50px;
height: 50px;
left: 90px;
top: 293px;
background: #FECB03;
border-radius: 100px;
}
.cat2{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 93px;
    top: 400px;
    background: #FECB03;
    border-radius: 100px;

}
.cat3{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 93px;
    top: 500px;
    
    background: #FECB03;
    border-radius: 100px;
}